@page
@model IndexModel
@{
    ViewData["Title"] = "Listas de Presença";
}

@section Menus {
    <li class="nav-item">
        <a class="nav-link" asp-area="Motorista" asp-page="/Index">Listas de Presença</a>
    </li>
}

<h1>@ViewData["Title"]</h1>