@page
@model IndexModel
@{
    ViewData["Title"] = "Cronograma Semanal";
}

@section Menus {
    <li class="nav-item">
        <a class="nav-link" asp-area="Estudante" asp-page="/Index">Cronograma Semanal</a>
    </li>
}
<h1>@ViewData["Title"]</h1>