@page
@model IndexModel
@{
    ViewData["Title"] = "Estudantes associados";
}

@section Menus {
    <li class="nav-item">
        <a class="nav-link" asp-area="Responsavel" asp-page="/Index">Estudantes associados</a>
    </li>
}

<h1>@ViewData["Title"]</h1>