@using Microsoft.AspNetCore.Identity
@using webapp.Models

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

@{
    var Usuario = await UserManager.GetUserAsync(User);
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User)){
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                @Usuario?.Nome
            </a>
            <ul class="dropdown-menu">
                <li><a asp-area="Identity" asp-page="/Account/Logout" class="dropdown-item">Sair</a></li>
            </ul>
        </li>
    }
</ul>